{% extends 'base.html' %}

{% block title %}
Evaluasi Data
{% endblock %}

{%block content %}

<!-- Approach -->
<div class="row">
    <div class="col-12">
        <div class="card shadow mb-4">
            <div class="card-body py-3">
                <h5 class="m-0 font-weight-normal">Evaluasi Data</h5> <br>

                <p>Proses evaluasi data bla bla bla</p>
            </div>
            <div class="card-footer">
                <form method="post" id="evaluating">
                    <input type="hidden" name="evaluating" value="1">
                    <button class="btn btn-primary">Proses Evaluasi</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row d-none" id="statistic">
    <div class="col-12 col-md-6">
        <div class="card my-3">
            <h4 class="card-header">Hasil Sentimen: Instagram</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #E1306C;">
                            <div class="inner text-white">
                                <h3 id="ig_pos"></h3>

                                <p>Positif</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box text-white" style="background: #E1306C;">
                            <div class="inner">
                                <h3 id="ig_neg"></h3>

                                <p>Negatif</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box text-white" style="background: #E1306C;">
                            <div class="inner">
                                <h3 id="ig_neu"></h3>

                                <p>Netral</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box text-white" style="background: #E1306C;">
                            <div class="inner">
                                <h3 id="ig_total"></h3>

                                <p>Total</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-3">
            <h4 class="card-header">Visualisasi Sentimen: Instagram</h4>
            <div class="card-body">
                <canvas id="instagram-pie-chart" style="width: 50vw; height: 50vh;"></canvas>
            </div>
        </div>
        <div class="card my-3">
            <h4 class="card-header">Klasifikasi Laporan: Instagram</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="ig_accuracy_score"></h3>

                                <p>Accuration Score</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>F1-Score</th>
                                        <th>Recall</th>
                                        <th>Precision</th>
                                        <th>Support</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Positif</td>
                                        <td id="ig_pos_f1_score"></td>
                                        <td id="ig_pos_recall"></td>
                                        <td id="ig_pos_precision"></td>
                                        <td id="ig_pos_support"></td>
                                    </tr>
                                    <tr>
                                        <td>Negatif</td>
                                        <td id="ig_neg_f1_score"></td>
                                        <td id="ig_neg_recall"></td>
                                        <td id="ig_neg_precision"></td>
                                        <td id="ig_neg_support"></td>
                                    </tr>
                                    <tr>
                                        <td>Netral</td>
                                        <td id="ig_neu_f1_score"></td>
                                        <td id="ig_neu_recall"></td>
                                        <td id="ig_neu_precision"></td>
                                        <td id="ig_neu_support"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card my-3">
            <h4 class="card-header">Hasil Sentimen: TikTok</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="tt_pos"></h3>

                                <p>Positif</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="tt_neg"></h3>

                                <p>Negatif</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="tt_neu"></h3>

                                <p>Netral</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="tt_total"></h3>

                                <p>Total</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-3">
            <h4 class="card-header">Visualisasi Sentimen: TikTok</h4>
            <div class="card-body">
                <canvas id="tiktok-pie-chart" style="width: 50vw; height: 50vh;"></canvas>
            </div>
        </div>
        <div class="card my-3">
            <h4 class="card-header">Klasifikasi Laporan: TikTok</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- small box -->
                        <div class="small-box" style="background: #00f2ea;">
                            <div class="inner">
                                <h3 id="tt_accuracy_score"></h3>

                                <p>Accuration Score</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-pie-graph"></i>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Label</th>
                                        <th>F1-Score</th>
                                        <th>Recall</th>
                                        <th>Precision</th>
                                        <th>Support</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Positif</td>
                                        <td id="tt_pos_f1_score"></td>
                                        <td id="tt_pos_recall"></td>
                                        <td id="tt_pos_precision"></td>
                                        <td id="tt_pos_support"></td>
                                    </tr>
                                    <tr>
                                        <td>Negatif</td>
                                        <td id="tt_neg_f1_score"></td>
                                        <td id="tt_neg_recall"></td>
                                        <td id="tt_neg_precision"></td>
                                        <td id="tt_neg_support"></td>
                                    </tr>
                                    <tr>
                                        <td>Netral</td>
                                        <td id="tt_neu_f1_score"></td>
                                        <td id="tt_neu_recall"></td>
                                        <td id="tt_neu_precision"></td>
                                        <td id="tt_neu_support"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $().ready(function () {

        $('form#evaluating').submit(function (e) {
            e.preventDefault()

            let serializedData = $(this).serialize()

            $.ajax({
                method: 'POST',
                url: '/evaluating-process',
                data: serializedData,
                success: function (data) {
                    $('#statistic').removeClass('d-none')

                    $('h3#ig_pos').text(data.instagram.chart.pos)
                    $('h3#ig_neg').text(data.instagram.chart.neg)
                    $('h3#ig_neu').text(data.instagram.chart.neu)
                    $('h3#ig_total').text(data.instagram.chart.total)
                    $('h3#ig_accuracy_score').text(data.instagram.ig_accuracy + '%')
                    $('table td#ig_pos_f1_score').text(data.instagram.ig_classification_report.pos['f1-score'])
                    $('table td#ig_pos_precision').text(data.instagram.ig_classification_report.pos['precision'])
                    $('table td#ig_pos_recall').text(data.instagram.ig_classification_report.pos['recall'])
                    $('table td#ig_pos_support').text(data.instagram.ig_classification_report.pos['support'])
                    $('table td#ig_neg_f1_score').text(data.instagram.ig_classification_report.neg['f1-score'])
                    $('table td#ig_neg_precision').text(data.instagram.ig_classification_report.neg['precision'])
                    $('table td#ig_neg_recall').text(data.instagram.ig_classification_report.neg['recall'])
                    $('table td#ig_neg_support').text(data.instagram.ig_classification_report.neg['support'])
                    $('table td#ig_neu_f1_score').text(data.instagram.ig_classification_report.neu['f1-score'])
                    $('table td#ig_neu_precision').text(data.instagram.ig_classification_report.neu['precision'])
                    $('table td#ig_neu_recall').text(data.instagram.ig_classification_report.neu['recall'])
                    $('table td#ig_neu_support').text(data.instagram.ig_classification_report.neu['support'])

                    $('h3#tt_pos').text(data.tiktok.chart.pos)
                    $('h3#tt_neg').text(data.tiktok.chart.neg)
                    $('h3#tt_neu').text(data.tiktok.chart.neu)
                    $('h3#tt_total').text(data.tiktok.chart.total)
                    $('h3#tt_accuracy_score').text(data.tiktok.tt_accuracy + '%')
                    $('table td#tt_pos_f1_score').text(data.tiktok.tt_classification_report.pos['f1-score'])
                    $('table td#tt_pos_precision').text(data.tiktok.tt_classification_report.pos['precision'])
                    $('table td#tt_pos_recall').text(data.tiktok.tt_classification_report.pos['recall'])
                    $('table td#tt_pos_support').text(data.tiktok.tt_classification_report.pos['support'])
                    $('table td#tt_neg_f1_score').text(data.tiktok.tt_classification_report.neg['f1-score'])
                    $('table td#tt_neg_precision').text(data.tiktok.tt_classification_report.neg['precision'])
                    $('table td#tt_neg_recall').text(data.tiktok.tt_classification_report.neg['recall'])
                    $('table td#tt_neg_support').text(data.tiktok.tt_classification_report.neg['support'])
                    $('table td#tt_neu_f1_score').text(data.tiktok.tt_classification_report.neu['f1-score'])
                    $('table td#tt_neu_precision').text(data.tiktok.tt_classification_report.neu['precision'])
                    $('table td#tt_neu_recall').text(data.tiktok.tt_classification_report.neu['recall'])
                    $('table td#tt_neu_support').text(data.tiktok.tt_classification_report.neu['support'])

                    // Set new default font family and font color to mimic Bootstrap's default styling
                    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
                    Chart.defaults.global.defaultFontColor = '#858796';

                    // Instagram Chart
                    let igChartLabel = ['Positif', 'Negatif', 'Netral']
                    let igChartData = [data.instagram.chart.pos, data.instagram.chart.neg, data.instagram.chart.neu]
                    let igChartColor = ['#405DE6', '#F77737', '#E1306C']

                    createPieChart('instagram-pie-chart', igChartLabel, igChartData, igChartColor)

                    // TikTok Chart
                    let ttChartLabel = ['Positif', 'Negatif', 'Netral']
                    let ttChartData = [data.tiktok.chart.pos, data.tiktok.chart.neg, data.tiktok.chart.neu]
                    let ttChartColor = ['#ff0050', '#000000', '#00f2ea']

                    createPieChart('tiktok-pie-chart', ttChartLabel, ttChartData, ttChartColor)
                }
            })
        })

        function createPieChart(elementId, label, data, color) {
            var ctx = document.getElementById(elementId);

            var myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: label,
                    datasets: [{
                        data: data,
                        backgroundColor: color,
                        hoverBorderColor: "rgba(234, 236, 244, 1)",
                    }],
                },
                options: {
                    maintainAspectRatio: false,
                    tooltips: {
                        backgroundColor: "rgb(255,255,255)",
                        bodyFontColor: "#858796",
                        borderColor: '#dddfeb',
                        borderWidth: 1,
                        xPadding: 15,
                        yPadding: 15,
                        displayColors: false,
                        caretPadding: 10,
                    },
                    legend: {
                        display: true
                    },
                },
            });

        }
    })
</script>
{% endblock %}