{% extends 'base.html' %}

{% block title %}
Pre-processing Data
{% endblock %}

{%block content %}

<!-- Approach -->
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Pre-processing data Instagram</h6>
            </div>
            <div class="card-body">
                <p>Data Instagram</p>

                <div class="my-3">
                    <form method="post" id="process-instagram">
                        <input type="hidden" name="preprocessing_ig" value="1">
                        <button type="submit" class="btn btn-primary">Pre-processing Instagram</button>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" id="ig-table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Comments</th>
                                <th>Clean Comments</th>
                                <th>Label</th>
                                <th>Pos</th>
                                <th>Neg</th>
                                <th>Neu</th>
                                <th>Compound</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold">Pre-processing data TikTok</h6>
            </div>
            <div class="card-body">
                <p>Data TikTok</p>

                <div class="my-3">
                    <form method="post" id="process-tiktok">
                        <input type="hidden" name="preprocessing_tt" value="1">
                        <button type="submit" class="btn btn-primary">Pre-processing TikTok</button>
                    </form>
                </div>

                <div class="table-responsive w-100">
                    <table class="table" id="tt-table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Comments</th>
                                <th>Clean Comments</th>
                                <th>Label</th>
                                <th>Pos</th>
                                <th>Neg</th>
                                <th>Neu</th>
                                <th>Compound</th>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $().ready(function () {
        let igTable = $('table#ig-table').DataTable()
        let ttTable = $('table#tt-table').DataTable()

        $('form#process-instagram').submit(function (e) {
            e.preventDefault()

            let serializedData = $(this).serialize()

            $.ajax({
                method: 'POST',
                url: '/preprocessing-ajax',
                data: serializedData,
                success: function (data) {
                    igTable.destroy()
                    igTable = $('table#ig-table').DataTable({
                        data: data,
                        columns: [
                            { "data": "username" },
                            { "data": "comment" },
                            { "data": "clean_comment" },
                            { "data": "label" },
                            { "data": "pos" },
                            { "data": "neg" },
                            { "data": "neu" },
                            { "data": "compound" },
                        ]
                    })
                }
            })
        })

        $('form#process-tiktok').submit(function (e) {
            e.preventDefault()

            let serializedData = $(this).serialize()

            $.ajax({
                method: 'POST',
                url: '/preprocessing-ajax',
                data: serializedData,
                success: function (data) {
                    console.log(data)
                    ttTable.destroy()
                    ttTable = $('table#tt-table').DataTable({
                        data: data,
                        columns: [
                            { "data": "username" },
                            { "data": "comment" },
                            { "data": "clean_comment" },
                            { "data": "label" },
                            { "data": "pos" },
                            { "data": "neg" },
                            { "data": "neu" },
                            { "data": "compound" },
                        ]
                    })
                }
            })
        })
    })
</script>
{% endblock %}