{% extends 'base.html' %}

{% block title %}
Beranda
{% endblock %}

{%block content %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <form method="post">
                <div class="card-header">
                    <h3 class="card-title">Upload Dataset</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <label for="dataset_instagram">URL Post Instagram</label>
                    <input type="text" name="dataset_instagram" id="dataset_instagram" class="form-control">
                </div>
                <!-- /.card-body -->
                <div class="card-footer clearfix">
                    <button class="btn btn-primary">Proses</button>
                </div>
            </form>
        </div>

        <!-- Approach -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Menampilkan Data</h6>
            </div>
            <div class="card-body">
                <p>Data Instagram</p>
                <div class="table-responsive">
                    {% for table in tables %}
                    <tr>
                        <td>{{ table|safe }}</td>
                    </tr>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}